
*{
    margin: 0;
    padding: 0;
}
.navbar-container{
    justify-content: space-between;
    width: 90%;
    float: left;
    display: flex;
    margin: 50px 100px;
}
.navbar-container img{
    
    width: 100px;
    float: left;
}
.navbar-container .list{
    text-align: center;
    display: flex;
    list-style: none;
    font-family: 'Orbitron', sans-serif;  
    font-weight: 500;
    font-size: 20px;  
}
.list-item{
    margin: auto 30px;
}
.button-group{
    display: flex;
    margin-right: 50px;
}
.button-group .search-icon svg{
    width: 25px;
}
.button-group .nav-button{
    margin: auto 16px;
    font-size: 18px;
    width: 150px;
    height: 35px;
    border: 3px solid #000000;
    background: transparent;
    color: #515151;
    border-radius: 10px;
}
.banner{
    width: 100%;
}
.hero-container{
    width: 70%;
    float: left;
    margin-left: auto 100px;
    display: flex;
}
.hero-container .square img{
    position: absolute;
    width: 20%;
    margin-left: 252px;
    top: 53.5%;
    z-index: -1;
}
.star img{
    position: absolute;
    left: 87%;
    top:24%;
    width: 4%;
}
.globe img{
    position: absolute;
    left: 51%;
    top:16%;
    width: 4%;
}

.hero-container div>img{
    width: 62%;
    margin-left:100px;
    margin-top: 4%;
 }

.hero-container .hero-heading{
    position: absolute;
    font-size: 60px;
    top: 35.5%;
    left: 40.5%;
    font-family: 'Orbitron', sans-serif; 
}
.hero-container .hero-description{
    position: absolute;
    margin-top: 6.5%;
    margin-left: 7%;
    margin-right: 12%;
    text-align: center;
    top: 38%;
    left: 39%;
    font-family: 'poppins', sans-serif; 
    font-size: 15px;
    color: #515151;
}
.button-email {
    position: absolute;
    margin-top: 25%;
    margin-left: 15.8%;
    text-align: center;
    left: 39%;
    font-family: 'Orbitron', sans-serif; 
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    height: 5%;
    width: 14.8%;
    color: #515151;
    background: transparent;
    border: 2px solid #000000;
}
.button-join {
    position: absolute;
    margin-top: 25%;
    margin-left: 28.4%;
    text-align: center;
    font-family: 'Orbitron', sans-serif; 
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    height: 5%;
    width: 8.6%;
    color: #ffffff;
    background: #000000;
    border: 2px solid #000000;
}
.contact-heading {
    position: absolute;
    margin-top: 33%;
    margin-left: 21.5%;
    text-align: center;
    font-family: 'poppins', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    color: #515151;
}
.icons {
    display: flex;
    position: absolute;
    margin-top: 35.5%;
    margin-left: 18%;
    text-align: center;
}
.icons img{
    width: 30px;
    margin: auto 10px;
}

.star1 img{
    position: absolute;
    left: 43%;
    margin-top: 33%;
    width: 3%;
}